# .gitignore dosyası

# Derleme çıktıları
*.class
*.jar
*.war

# Log dosyaları
*.log

# NetBeans özel dosyaları
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Paket yöneticisi dosyaları
node_modules/
package-lock.json
yarn.lock

# IDE özel dosyaları
.idea/
.vscode/
*.iml

# Image ve Video Dosyaları
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.avi

# Önbellek dosyaları
*.cache
*.pyc

# Sistem dosyaları
.DS_Store
Thumbs.db